
html, body {
    width: 100%;
    height: 100%;
    color: #222;
    font-family: 'Poppins', sans-serif;
}
.navbar {
    padding: 5px;
}
.navbar-nav li {
    padding-right: 10px;
}
.nav-link {
    font-size: 1.1em;
  text-align: right;
}
.carousel-inner img {
    width: 100%;
    
}
.carousel-caption h2 {
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
}
 .btn-primary {
     background-color: rgb(180, 241, 180);
     border: 1px solid white;
 }
 .btn-primary:hover {
    background-color: rgb(128, 245, 128);
    border: 1px solid rgb(27, 26, 26);
 }
 .jumbotron {
    width: 100%;
     border-radius: 0;
 }
 .padding {
     padding-bottom: 2rem;
 }
.welcome {
    width: 75%;
    margin: 0 auto;
    padding-top: 5rem;
}
.welcome hr {
    border-top: 2px solid #b4b4b4;
    width: 100%;
}
.wrap{
    padding-top:7rem;
}
#wrap{
    padding-top: 7rem;
}

.lead {
    background-color: rgb(219, 223, 226);
    text-align: justify;
    height: 150px;
    padding: 20px 20px;
    font-size: large;
    font-weight: 500;
    
}
.wrap {
    text-align: justify;

}

#facebook {
    font-size: 80px;
}
#instagram {
    color: rgb(153, 36, 36);
    font-size: 80px;
}
#twitter {
    font-size: 80px;
    color: rgb(21, 21, 241);
}
#googleplus{
    font-size: 80px;
    color: rgb(153, 36, 36);
}
#youtube {
    color: red;
    font-size: 80px;
}

footer {
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding-top: 5rem;
}
hr .light {
    border-top: 1px solid #d5d5d5;
    width: 75%;
}
/*-------Media Queries---------*/
@media (max-width: 992px) {

}
@media (max-width: 768px) {
    .carousel-caption h2 {
        text-transform: uppercase;
        text-shadow: 1px 1px 15px #000;
    }
    .card-img-top {
        width: 70%;
    }
}
@media (max-width: 576px) {
    .card-img-top {
        width: 50%;
    }
}